

<head>
  <link rel="stylesheet" type="text/css" href="products.css.scss" />
</head>

<nav class="product-filter">

  <h1>T-shirts</h1>

  <div class="sort">

    <div class="collection-sort">
      <label>Filter by:</label>
      <select>
        <option value="/">All Products</option>
      </select>
    </div>

    <div class="collection-sort">
      <label>Sort by:</label>
      <select>
        <option value="/">Featured</option>
      </select>
    </div>

  </div>

</nav>

<section class="products">

  <div class="product-card">
    <div class="product-image">
      <img src="https://placeholdit.imgix.net/~text?txtsize=19&txt=200%C3%97300&w=200&h=300" />
    </div>
    <div class="product-info">
      <h5>Item 1</h5>
      <h6>$99.99</h6>
    </div>
  </div>

  <div class="product-card">
    <div class="product-image">
      <img src="https://placeholdit.imgix.net/~text?txtsize=19&txt=200%C3%97300&w=200&h=300" />
    </div>
    <div class="product-info">
      <h5>Item 2</h5>
      <h6>$99.99</h6>
    </div>
  </div>

    <div class="product-card">
    <div class="product-image">
      <img src="https://placeholdit.imgix.net/~text?txtsize=19&txt=200%C3%97300&w=200&h=300" />
    </div>
    <div class="product-info">
      <h5>Item 3</h5>
      <h6>$99.99</h6>
    </div>
  </div>

    <div class="product-card">
    <div class="product-image">
      <img src="https://placeholdit.imgix.net/~text?txtsize=19&txt=200%C3%97300&w=200&h=300" />
    </div>
    <div class="product-info">
      <h5>Item 4</h5>
      <h6>$99.99</h6>
    </div>
  </div>

    <div class="product-card">
    <div class="product-image">
      <img src="https://placeholdit.imgix.net/~text?txtsize=19&txt=200%C3%97300&w=200&h=300" />
    </div>
    <div class="product-info">
      <h5>Item 5</h5>
      <h6>$99.99</h6>
    </div>
  </div>

    <div class="product-card">
    <div class="product-image">
      <img src="https://placeholdit.imgix.net/~text?txtsize=19&txt=200%C3%97300&w=200&h=300" />
    </div>
    <div class="product-info">
      <h5>Item 6</h5>
      <h6>$99.99</h6>
    </div>
  </div>

    <div class="product-card">
    <div class="product-image">
      <img src="https://placeholdit.imgix.net/~text?txtsize=19&txt=200%C3%97300&w=200&h=300" />
    </div>
    <div class="product-info">
      <h5>Item 7</h5>
      <h6>$99.99</h6>
    </div>
  </div>

    <div class="product-card">
    <div class="product-image">
      <img src="https://placeholdit.imgix.net/~text?txtsize=19&txt=200%C3%97300&w=200&h=300" />
    </div>
    <div class="product-info">
      <h5>Item 8</h5>
      <h6>$99.99</h6>
    </div>
  </div>

    <div class="product-card">
    <div class="product-image">
      <img src="https://placeholdit.imgix.net/~text?txtsize=19&txt=200%C3%97300&w=200&h=300" />
    </div>
    <div class="product-info">
      <h5>Item 9</h5>
      <h6>$99.99</h6>
    </div>
  </div>

    <div class="product-card">
    <div class="product-image">
      <img src="https://placeholdit.imgix.net/~text?txtsize=19&txt=200%C3%97300&w=200&h=300" />
    </div>
    <div class="product-info">
      <h5>Item 10</h5>
      <h6>$99.99</h6>
    </div>
  </div>

</section>
